// .logo-position {
//   display: flex;
//   justify-content: center;
//   padding-top: 2%;
//   padding-bottom: 2%;
//   border-bottom: 10px solid grey;
//   background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://images.unsplash.com/photo-1539964604210-db87088e0c2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
//   background-position: center;
//   background-size: cover;
// }

// .logo101 {
//   width: 520px;
// }

// .background-home5 {
//   background-image: url('background-colors2.png');
//   background-position: center;
//   background-size: cover;
//    border-bottom: 10px solid grey;
// }

// .left-hand-side {
//   // padding-left: 8%;
//   // padding-right: 8%;
//   color: white;
// }

// .right-hand-side {
//   // padding-left: 8%;
//   // padding-right: 8%;
// }


.image101 {

  height: 100vh;
}

.button-home-5 {
  position: absolute;
  bottom: 70px;
  right: 160px;
  border-top: 2px solid #cf7500;
  padding-top: 10px;
}

.button-this-one {
  background-color: white;
  border: 2px solid #cf7500;
  padding: 15px 25px;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.info-last-page {
  position: absolute;
  bottom: 170px;
  right: 100px;
  left: 40px;
}
