.image-poster-home4 {
  width: 100%;
  border-bottom: 10px solid #373535;
}


.color-hompage4-info {
  background-color: #ffe9c5;
}

.icon-next-home-4 {
      background-color: black;
    padding: 24px;
}
