.home-page-background-new {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("dracula2.png");
  background-size: cover;
  background-position: top;
  padding-top: 13%;

  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

.title-home-2 {
  color: white;
  text-align: center;
  a {
    color: black;
    border: 2px solid white;
    padding: 12px 21px;
    background-color: whitesmoke;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    &:hover {
      text-decoration: none;
      opacity: 0.5;
      transition: 0.5s;
    }
  }
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    letter-spacing: 3px;
  }
  p {
    font-family: 'Playfair Display', serif;
    opacity: 0.9;
  }
}

.info-content-since {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  h2 {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
  }
}


