<%= render "navbar5" %>

<div class="info-stuff101">
  <p style="font-family: 'Merriweather', serif; color: whitesmoke;">"Teaching English Through Theatre"</p>
  <p style="font-family: 'Merriweather', serif;">"Since 1989"</p>
</div>

<div class="row">
  <div class="col-lg-7">
    <%= image_tag "background103.png", class: "image101" %>
  </div>
  <div class="col-lg-5">
    <div class="info-last-page">
      <p style="font-family: 'Merriweather', serif;"><em>- Review</em></p>
      <h3 style="font-family: 'Merriweather', serif;">"This was a fantasic show for the students, They brought the magic of shakespeare to life. Can't wait to book them for next year."</h3>
      <p style="font-family: 'Merriweather', serif;"><em>- Osimo Theatre Italy</em></p>
    </div>
    <div class="button-home-5">
      <button class="button-this-one" style="font-family: 'Merriweather', serif;">Learn more</button>
      <button class="button-this-one" style="font-family: 'Merriweather', serif;">Contact now</button>
    </div>
  </div>
</div>
