
<%= render "navbar5" %>

<div class="logo-position">
  <%= image_tag "The-play-Group101.png", class: 'logo101' %>
</div>


  <div class="background-home5">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 left-hand-side">
        <br>
        <h1 >Now Touring</h1>
          <br>
          <ol>
            <li>Treasure Island</li>
            <li>Hamlet - William Shakespeare</li>
            <li>Dracula by Bram Stoker</li>
          </ol>
            <p>All shows are Specially designed for all learners of English.
                   We perform classics of English literature, from Shakespeare and beyond!</p>
            <br>
            <h1>Workshops</h1>
            <br>
            <p style="width:300px;">The Play Group offer workshops for teachers, on a range of subjects from Theatre and Drama in the classroom, to Pronunciation and the use of music in teaching. Kindly sponsored by our agents, astrolabio in Milano</p>
            <br>

      </div>
      <div class="col-lg-6 right-hand-side">
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Company info</h1>
          <br>
          <p>The Play Group has performed dynamic and entertaining English-language drama to schools and theatres all over Europe.</p>
          <br>
          <p>Play Group productions are designed from scratch to suit all levels of English, from elementary schools to secondary schools and universities.</p>
          <br>
          <h1 style="text-align: center;">More Info</h1>
          <p>Theatre offers a new dimension in the teaching of English, in a live, spontaneous context where spectators are constantly involved in the action and encouraged to participate. Play Group productions are designed from scratch to suit all levels of English, from elementary schools to secondary schools and universities.</p>
          <br>

      </div>
    </div>
  </div>
</div>


<br>
<br>

<div style="text-align: center; font-family: 'Cardo', serif; font-size: 20px;">
  <h2>THE PLAY GROUP PRIVACY POLICY</h2>
  <h3>We never sell or share your email with any third party.</h3>
  <h4>We respect EU Regulations regarding Data Privacy. No. 679 / 2016</h4>
</div>
<br>
