
<%= render "navbar" %>

<div class="banner-page">
  <div class="title-home1">
    <%= image_tag "logo-one.png", class: 'logo-one' %>
  </div>
  <div class="link-shows">
    <%= link_to  %>
  </div>
</div>
