.logo9 {
  width: 150px;
  margin-left: 32px;
}

.navbar-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373535;
}



.button-home-page-4 {
  margin-right: 5%;
  font-family: 'Cinzel', serif;
  a {
    font-family: 'Cinzel', serif;
  }
}

.dropdown-toggle {
  color: white;
  outline: none;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.dropdown-toggle1 {
  font-size: 19px;
}

.dropdown-menu1 {
  background-color: #ffe9c5;
}
