.nav-bar23 {

    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    margin: auto;
    width: 98%;
    display: flex;

    align-items: center;
    a {
      color: white;
      font-family: 'Playfair Display', serif;
      margin-left: 25px;
    }
}

.logo23 {
  width: 100px;
  margin-left: 10px;
}
