.nav-bar {
  display: flex;
  justify-content: start-end;
  background-color: black;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000000000;
  a {
    color: white;
    padding: 5px 10px;
    font-family: 'Playfair Display', serif;

    &:hover {
      text-decoration: none;
      background-color: white;
      color: black;
      transition: 0.8s;
    }

  }
}
